:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
    text-align: center;
    background-color: rgb(197, 219, 226);
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}