
input{
    border-radius: 10px; /* Adjust the value to control the roundness */
    padding: 10px; /* Increase the padding to make the input bigger */
    border: 2px solid #ccc; /* Add a border for a cleaner look */
}

button{
    margin: 1vh;
    border-radius: 10px; /* Adjust the value to control the roundness */
    padding: 10px; /* Increase the padding to make the input bigger */
    border: 2px solid #ccc; /* Add a border for a cleaner look */
    background-color: #a4e6ddc0;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif; 
    font-weight: 500;
    color : rgb(0, 0, 0);
}